{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="index_style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>ONLINE PORTFOLIO OF VICTOR SIFISO XABA</title>
    <link rel="stylesheet" href="{% static 'politicalprofile/index_css/index_style.css' %}">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'politicalprofile:values' %}">Core Values</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'politicalprofile:index_page' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_auth:login_user' %}">Polls</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <section>
        <img src="https://ca.slack-edge.com/TDAR474FN-U05M8Q94YSJ-8310baa1d223-512"
        alt="Image of Victor Sifiso Xaba from www.youth-innovation.com">
        <h1>VICTOR SIFISO XABA</h1>
        <h2>UCT BScEng Chemical, Queen's U JLMCF 2021 Fellow,
            Founder at HemPad South Africa, Teacher at JustSchool</h2>
        <br>
        <h3>SUMMARY</h3>
        <hr>
        <p >Dynamic and dedicated professional with a versatile skill set spanning
            teaching, research, programming, data analysis, marketing, project
            management, and engineering consulting. A self-motivated, hardworking and tech-savvy
            problem solver passionate about data, engineering, and sales. Eager to
            take on new challenges and committed to continuous learning and teaching. 
            I enjoy playing chess and reading business books.<br><br>
            Victor is an international
            award-winning social entrepreneur after securing 10,000 Canadian dollars worth of
            seed funds for his start-up, HemPad South Africa, at Queen's University's Kingston's
            largest summer pitch competition in 2021. In 2023, Victor became an award-winning
            writer after taking second place in the Youth Innovation Essay Prize, South Africa. He 
            has spent more than 500 hours teaching English to more than 30 Ukrainian students.
            Victor has a testimony of Jesus Christ and God.<br><br>
            Victor is a passionate advocate for planetary health and menstrual equity.
            After graduating with a degree in chemical engineering from the University of
            Cape Town, he enrolled in the Postgraduate Diploma in Entrepreneurship to gain
            business skills. He leads HemPad South Africa with a vision for
            "sustainable hemp pads everywhere.</p>
        <h3>CONTACTS</h3>
        <hr>
        <ul>
            <li>Cell: +27786184731</li>
            <li>Email: sifisovxaba@gmail.com</li>
            <li>LinkedIn: <a target="_blank" href="https://www.linkedin.com/in/victor-sifiso-xaba"> 
                www.linkedin.com/in/victor-sifiso-xaba</a></li>
            <li>Address: Thembisa, South Africa, 1632</li>
        </ul>
        <h3>SKILLS</h3>
        <hr>
        <ul>
            <li>Computer Software Programs: Aspen Plus | Python | R | SQLite | Power BI | Visio | PyCharm</li>
            <li>Proficient (read, speak, write) in English | Native in Xitsonga |
                Courses in isiXhosa and Sesotho</li>
            <li>Proficient: Communication | Data Analysis | Process Modelling |
                Project Management | Problem-solving | Self-Reliance | Teaching | Creativity |
                Software Development | Microsoft Office</li>
            </ul>
        <h3>EDUCATION</h3>
        <hr>
        <h4>HYPERIONDEV AND STELLENBOSCH UNIVERSITY</h4>
        <p>October 2023 - 2024: On-site Software Engineering</p>
            <ul>
                <li>Coding using Python, SQL, MySQL, spaCy (Natural Language Processing), Django, C++, HTML, and CSS.</li>
            </ul>
        <h4>TEFL PROFESSIONAL INSTITUTE - TEACHER RECORD</h4>
        <p>2023 - 2023: Teaching English as a Foreign Language (TEFL)</p>
            <ul>
                <li>TEFL Course (120 Hours) Certificate - TR5226370475.</li>
            </ul>
        <h4>ENSIGN COLLEGE</h4>
        <p>2023 - 2023: Applied Self-Reliance Principles Certificate</p>
            <ul>
                <li>Completed training on Education for Better Work offered by The Church of Jesus Christ of Latter-day Saints.</li>
            </ul>
        <h4>UNIVERSITY OF CAPE TOWN</h4>
        <p>2022 - Incomplete: Postgraduate Diploma in Management in Entrepreneurship</p>
            <ul>
                <li>Three distinctions: People Management (76%), Creativity In Business (75%), Organisational Project (75%).</li>
            </ul>
        <h4>UNIVERSITY OF CAPE TOWN</h4>
        <p>2014 - 2019: Bachelor of Science in Engineering in Chemical Engineering</p>
            <ul>
                <li>Two distinctions: Sesotho Communication 1A (95%) and Xhosa Communication 1A (88%).</li>
            </ul>
        <h4>TEMBISA SECONDARY SCHOOL</h4>
        <p>2009 - 2013: National Senior Certificate (Grade 12 - Matric)</p>
            <ul>
                <li>Five distinctions: Mathematics (91%), Physical Sciences (80%), Life Sciences (85%), History (82%), and Computer Applications Technology (83%).</li>
            </ul>
        <h3>WORK EXPERIENCE</h3>
        <hr>
        <h4>JUSTSCHOOL UKRAINE</h4>
        <p>August 2023 - Present: Online English Teacher</p>
            <ul>
                <li>Prepared and conducted more than 500 hours of English lessons to more than 40 students through a communicative approach and play.</li>
            </ul>
        <h4>PROMASIDOR</h4>
        <p>March 2021 - February 2022: Online Research Assistant</p>
            <ul>
                <li>Conducted in-house data analysis, digital market research, surveys, and led artificial intelligence projects.</li>
            </ul>
        <h4>TANDEM TECHNOLOGY</h4>
        <p>September 2018 - May 2021: Process Assistant</p>
            <ul>
                <li>Assisted the Managing Director in engineering research consulting, site visits, and equipment calibration.</li>
            </ul>
        <h4>SET POINT LABORATORIES</h4>
        <p>June 2018 - July 2018: Chemical Engineering Practical Training (Intern)</p>
            <ul>
                <li>Completed Chemical Engineering Practical Training and created a technical report of 12 water experiments.</li>
            </ul>
        <h4>UNIVERSITY OF CAPE TOWN</h4>
        <p>February 2018 - November 2018: Student Front Desk Assistant</p>
            <ul>
                <li>Provided receptionist services to students and guests and proved time management and agile leadership.</li>
            </ul>
        <h4>WEARCHECK</h4>
        <p>December 2016 - December 2016: Chemical Engineering Practical Training (Intern)</p>
            <ul>
                <li>Conducted elemental analysis on fuels and transformer oil samples, ensuring calibration accuracy.</li>
            </ul>
        <h4>UNILEVER SA</h4>
        <p>June 2015 - June 2015: Chemical Engineering Field Trip (Intern)</p>
            <ul>
                <li>Optimisation of factory piping networks and pump designs and delivering a technical site visit report.</li>
            </ul>
        <h3>PROJECTS</h3>
        <hr>
        <h4>DATABASES PROJECT</h4>
        <p>January 2024</p>
            <ul>
                <li>Software Engineering project on using databases to code an ebookstore program 
                    to be used by a bookstore clerk to add, update, delete, and search books.</li>
                <li>Code:<a target="_blank" href="https://github.com/Victor-Sifiso-Xaba/databases-python"> 
                https://github.com/Victor-Sifiso-Xaba/databases-python</a></li>
            </ul>
        <h4>OBJECT-ORIENTED PROGRAMMING PROJECT</h4>
        <p>November 2023</p>
            <ul>
                <li>Software Engineering project on using OOP to code an inventory program 
                    to prepare reports for managers of a shoe company.</li>
            <li>Code:<a target="_blank" href="https://github.com/Victor-Sifiso-Xaba/object-oriented-programming-python"> 
                https://github.com/Victor-Sifiso-Xaba/object-oriented-programming-python</a></li>
            </ul>
        <h4>YOUTH INNOVATION ESSAY PRIZE, SOUTH AFRICA</h4>
        <p>October 2023</p>
            <ul>
                <li>My essay explores the innovative potential of HemPads, sustainable menstrual 
                    products made from industrial hemp, in tackling period poverty.</li>
                <li>Essay: <a target="_blank" href="https://assets-global.website-files.com/643fd2f5c9e4ed95e1bda9ef/6579847f5e037aa85c9154e6_Victor%20Xaba.pdf"> 
                    "Empowering planetary health: Innovating menstrual solutions for a sustainable future"</a></li>
            </ul>
        <h3>BLOGS</h3>
        <hr>
        <h4>POWER OF PRAYER AND PURPOSE NEWSLETTER</h4>
        <p>July 2023</p>
            <ul>
                <li>LinkedIn newsletter with more than 170 subscribers which shares about daily application of prayer written and published by Victor Sifiso Xaba.</li>
                <li>Article: <a target="_blank" href="https://www.linkedin.com/pulse/power-faith-miracles-business-spirituality-victor-sifiso-xaba/?trackingId=UNYWm9rXSvCvZVxrca0r2A%3D%3D"> 
                    "The Power of Faith: Miracles in Business and Spirituality"</a></li>
            </ul>
    </section>
    <br>
    <footer>
        <p style="font-size: 12px;font-family: sans-serif;text-align: center;"> &copy; VICTOR SIFISO XABA.&nbsp;&nbsp; All rights reserved.&nbsp;&nbsp; Proudly created by <a href="https://www.linkedin.com/in/victor-sifiso-xaba">iMuhluri</a>.</p>
        <p style="font-size: 12px;font-family: sans-serif;text-align: center;">Last updated: 26 February 2024</p>
    </footer>
</div>
</body>
</html>
